<!DOCTYPE html>
<html>
    <head>
        <title>Mercado Liebre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 

        <link href="/css/style.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header class="contenedor-1">
            <div class="top-header">
                <img src="img/logo-mercado-liebre.svg" class="logmarket" alt=""/>
                <form action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y mas"><i class="fas fa-search"></i> 
                </form>
                <h4 class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
            <nav>
                <ul class="nav-left" type="none">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>        
                </ul>
                <ul class="nav-right" type="none">
                    <li><a href="/register">Creá tu cuenta<i class="fas fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<span class=shop><i class="fas fa-shopping-basket"></i></span></a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <img src="img/img-home-banner.jpg" class="publicidad" alt="">

        </header>
        <main>
            <section>
                <h2 class="titulares">Basado en tu última visita</h2>
                <div class="contenedor-2">
                <article class="item">
                    <img height= 300 width= 300 src="img/img-cafetera-moulinex.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$6.170</p>
                        <p class="discount">40% off</p>
                        </div>
                        <h3 class="item-title">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-macbook-pro-2019.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$230.000</p>
                        <p class="discount">20% off</p>
                        </div>
                        <h3 class="item-title">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-samsung-galaxy-s10.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$70.500</p>
                        <p class="discount">10% off</p>
                        </div>
                        <h3 class="item-title">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-tv-samsung-smart.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$23.200</p>
                        <p class="discount">5% off</p>
                        </div>
                        <h3 class="item-title">SmartTV Samsung 43</h3>
                    </div>
                </div>
            </section>
            <section>
                <h2 class="titulares">Ofertas</h2>
                <div class="contenedor-3">
                <article class="item">
                    <img height= 300 width=300 src="img/img-cafetera-moulinex.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$6.170</p>
                        <p class="discount">40% off</p>
                        </div>
                        <h3 class="item-title">Cafetera Moulinex</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-macbook-pro-2019.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$230.000</p>
                        <p class="discount">20% off</p>
                        </div>
                        <h3 class="item-title">MacBook Pro 2019</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-samsung-galaxy-s10.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$70.500</p>
                        <p class="discount">10% off</p>
                        </div>
                        <h3 class="item-title">Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article class="item">
                    <img height= 300 width=300 src="img/img-tv-samsung-smart.jpg">
                    <div class="description">
                        <i class="fas fa-truck"></i>
                        <div class="precio-discount">
                        <p class="precio">$23.200</p>
                        <p class="discount">5% off</p>
                        </div>
                        <h3 class="item-title">SmartTV Samsung 43</h3>
                    </div>
                </article>
                </div>
            </section>
        </main>
        <footer class="contenedor-4">
            <article>
                <div class="articulos">
                <div class="tarjeta"><i class="fas fa-credit-card"></i></div>
                <h5 class="articulos-title">Pagá con tarjeta o en efectivo</h5>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </article>
            <article>
                <div class="articulos">
                <div class="regalo"><i class="fas fa-gift"></i></div>
                <h5 class="articulos-title">Envío gratis desde $ 2.500</h5>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </article>
            <article>
                <div class="articulos">
                <div class="security"><i class="fas fa-user-shield"></i></div>
                <h5 class="articulos-title">Seguridad, de principio a fin</h5>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>
            </article>
            <article>
                <h5 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </div>
            </article>
        </footer>
    </body>
</html>