*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header{
    font-family: "roboto", sans-serif;
    background-color: gold;
    height: auto;
}

.contenedor-1{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
}

.top-header{
    display: flex;
    width: 100%;
    text-align: center;
}

.logmarket{
    max-width: 350px;
    margin-top: 10px;
    margin-left: 20px;
}

.top-header form{
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}

header input{
    font-size: 15px;
    width: 250px;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 5px;
}

.top-header form i{
    background-color: white;
    border: solid 1px black;
    padding: 1px;
    margin-left: 2px;
    margin-top: 2px;
}

.top-header h4 i{
    margin-right: 5px;
}

.compra{
    width: 100%;
    margin-left: 60px;
    margin-top: 50px;
}

nav{
    display: none;
    width: 100%;
    position: relative;
}

nav ul li a:link{
    color: black;
    text-decoration-line: none;
}

nav ul li a:active{
    color: black;
    text-decoration-line: none;
}

nav ul li a:visited{
    color: black;
    text-decoration-line: none;
}

nav ul li a:hover{
    color: #1259c3;
}

nav ul li{
    display: inline-block;
    padding: 10px;
}

.nav-left{
    font-weight: bold;
    width: 50%;
    padding: 10px 10px;
    float: left;
    text-align: center;
    flex-direction: row;
}

.nav-right{
    font-weight: bold;
    width: 50%;
    padding: 10px 10px;
    float: right;
    text-align: center;
    flex-direction: row;
}

.nav-right i{
    margin-left: 5px;
}

.burger-menu i{
    font-size: 18px;
    color: #fff;
    max-width: 40px;
    background-color: #1259c3;
    border: solid 3px #1259c3;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.publicidad{
    width: 100vw;
    position: relative;
}




main form{
    border: solid 2px grey;
    margin: 50px 150px 50px 150px;
    padding: 30px;
    background-color: lightgray;
    box-shadow:lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

form div{
    width: 100%;
    text-align: center;
    position: relative;
}

form div input{
    width:100%
}

.nombre{
    margin-bottom: 20px;
}

.password{
    margin-bottom: 20px;
}

button{
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    width: 100%;
}

button a:link{
    color: white;
    text-decoration-line: none;
}

button a:active{
    color: white;
    text-decoration-line: none;
}

button a:visited{
    color: white;
    text-decoration-line: none;
}

button a:hover{
    color: #0022AA;
}




footer{
    font-family: "roboto", sans-serif;
    background-color: gold;
    height: 600px;
    width: 100vw;
}

.contenedor-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.articulos {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
}

.articulos-title{
    font-size: 16px;
}

.tarjeta {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: -10px;
}

.regalo {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: -10px;
}

.security {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: -10px;
}

.copyright{
    text-align: center;
    opacity: 0.5;
}



@media (min-width: 480px) {
    .top-header{
        display: block;
    }

    nav{
        display: block;
    }
    .burger-menu{
        display: none;
    }

}

@media (min-width: 361px) {
    .top-header{
        display: flex;
        justify-content: space-between;
    }
}